-r Libraries/PyKotor/requirements.txt
-r Libraries/PyKotor/recommended.txt
-r Libraries/PyKotorGL/requirements.txt
-r Libraries/PyKotorFont/requirements.txt
-r Libraries/Utility/requirements.txt

build
mypy
pylint
pytest
pytest-html
pytest-xdist
ruff
send2trash
types-Pillow
types-Send2Trash
